<!DOCTYPE html>
<html>
  <head>
    <title>CyberFortress</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_pack_path("media/images/favicon-16x16.png") %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Orbitron|Roboto&display=swap" rel="stylesheet">
  </head>

  <body>
    <div id="vue-application">
      <%= yield %>
    </div>
  </body>
</html>
